body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin: 0px auto;
}

.container2{
    margin-left: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: auto;
}


.words{
    width: 200px;
    text-align: center;
    font-family: Roboto;
    font-size: xx-large;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bubble{
    width: 100%;
}